<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/indes.css">
    <title>Aceita?</title>
</head>
<body>
    <div class="main_body">
        <h1>Você aceita namorar comigo?</h1>
        <div class="buttons">
            <button id="simButton">Sim</button>
            <button id="naoButton">Não</button>
        </div>
    </div>

    <div id="heartScreen" class="heart-screen">
        <img src="../images/heart.png" alt="Coração" class="heart-image">
        <p class="heart-message">Você aceitou! ❤️</p>
    </div>

    <div id="starsContainer"></div>

    <script src="../scripts/main.js"></script>
</body>
</html>